body{
	background-color: plum;
	background-image: url("../img/bg-mobile.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: Arial, Tahoma, Helvetica, sans-serif;
}

div{
	border: 1px solid gray;
	margin: 30px;
	padding: 15px;
	background-color: white;
	opacity: 0.6;
}

h1{
	font-size: 4vw;
}

p{
	font-size: 2vw;
}

input{
	border: 2px solid black;
	box-sizing: border-box;
	padding: 12px 20px;
}

input:focus{
	border-color: plum;
}

img{
	max-width: 20%;
	height: auto;
	object-position: center;
}

footer{
	font-weight: bold;
	text-shadow: 0 0 5px black; 
}

a:link{
	color: navy;
}

a:visited{
	color: darkgreen;
}

a:hover{
	color: olive;
}

a:active{
	color:aqua;
}

#sn, #sn_form{
	text-align: center;
}

#submit{
	color: white;
	background-color: green;
}

#submit:focus{
	border-color: green;
}

#reset{
	color: white;
	background-color: red;
}

#reset:focus{
	border-color: red;
}

#posResult{
	text-align: center;
	color: green;
	font-weight: bold;
}

#negResult{
	text-align: center;
	color: red;
	font-weight: bold;
}

#cleaner{
	text-align: center;
	font-weight: bold;
	width: 200%;
	height: auto;
}